:root {
  --alice-blue: #f1f7fe;
  --haiti: #2f2d3a;
  --whisper: #e7e7e7;
  --fire-engine-red: #e50222;
  --orange: #fda301;
  --gold: #fcd304;
  --kelly-green: #2abb01;
  --light-sky-blue: #83c5fd;
  --cobalt: #004bc0;
  --blue-violet: #7938e1;
  --heliotrope: #e453fc;
  /* #ffffff
  #000000
  #f2f4ff
  #a6a6a6 */
}
